.body {
    font-size: 16px;
}

.header {
    width: 100%;
    background: #9b9b9b;
    display: flex;
    align-items: center;
    font-family: sans-serif;
}

.menu {
    width: 100%;
}

.menu-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
}

.menu__item {
    margin-right: 2.5rem;
}

.menu__link {
    text-decoration: none;
    color: #fff;
    letter-spacing: 0.05rem;
    font-size: 1.1rem;
    font-weight: bold;
}

.menu__link:hover {
    text-shadow: 0 0 1rem #000;
    letter-spacing: 0.2rem;
}

.menu__link_no-hover:hover {
    cursor: default;
    text-shadow: none;
    letter-spacing: inherit;
}

.main-content {
    width: 100%;
}

.about-me-section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: sans-serif;
}

.about-me-section__header {
    width: 70%;
}

.about-me-section__header_position-center {
    width: 100%;
    padding-left: 36%;
}

.about-me-section__photo {
    width: 30%;
    overflow: hidden;
    object-fit: cover;
}

.about-me-section__article {
    width: 30%;
    margin-left: 2rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.about-me-section__text {
    color: #808080;
    line-height: 1.5rem;
}

.about-me-section__text_bolder {
    font-size: 1.3rem;
}

.about-me-section-links {
    display: flex;
}

.about-me-section__item {
    margin-right: 2rem;
    margin-top: 2rem;
    width: 35%;
    height: 3.3rem;
}

.about-me-section__link {
    display: block;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.9rem;
}

.about-me-section__link:hover {
    transform: translateY(-4px);
}

.about-me-section__item:first-child .about-me-section__link {
    background: red;
    border: 0.2rem solid rgb(255, 0, 1);
    color: #fff;
}

.about-me-section__item:last-child .about-me-section__link {
    border: 0.2rem solid red;
    color: rgb(255, 0, 1);
}

.contact-info {
    width: 28%;
    height: 40%;
    box-sizing: border-box;
}

.contact-info__content {
    list-style: none;
}

.contact-info__item {
    color: #808080;
    margin-bottom: 1.2rem;
    margin-left: -2.4rem;
}

.contact-info__link {
    text-decoration: none;
    color: #808080;
}

.contact-info__item:first-child::before {
    content: "\2709";
    margin-right: 0.5rem;
    ;
    font-size: 1.1rem;
}

.contact-info__item:nth-child(2)::before {
    content: "\2706";
    margin-right: 0.7rem;
    font-size: 1.2rem;
}

.contact-info__item:last-child::before {
    content: "\2751";
    margin-right: 0.5rem;
    font-size: 1.2rem;
}

.line,
.line-article {
    width: 65%;
    height: 0.15rem;
    margin-top: 2rem;
    background: #d6d6d6;
}

.line-article {
    width: 100%;
}

.wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
}

.experience-section {
    width: 65%;
}

.experience-block {
    display: flex;
    flex-wrap: wrap;
}

.experience-block__header {
    width: 50%;
}

.experience-section__header_red {
    color: red;
}

.experience-block__years {
    width: 50%;
    text-align: right;
    color: #808080;
}

.experience-block__text,
.skill__text {
    width: 100%;
    color: #808080;
    line-height: 1.5rem;
}

.experience-block__text_bigger {
    font-size: 1.1rem;
    margin-top: -1rem;
}

.experience-block__text span {
    display: none;
}

.aside {
    width: 28%;
    margin-left: 5%;
    margin-top: -11rem;
}

.skill__level {
    color: red;
}

.fas {
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    10% {
        transform: scale(0.95);
        opacity: 0.8;
    }
    20% {
        transform: scale(0.9);
        opacity: 0.6;
    }
    30% {
        transform: scale(0.85);
        opacity: 0.3;
    }
    40% {
        transform: scale(0.9);
        opacity: 0.6;
    }
    50% {
        transform: scale(0.95);
        opacity: 0.8;
    }
    60% {
        transform: scale(1);
        opacity: 1;
    }
    70% {
        transform: scale(1.05);
        opacity: 1;
    }
    80% {
        transform: scale(1.1);
        opacity: 1;
    }
    90% {
        transform: scale(1.05);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@media screen and (max-width: 992px) {
    .about-me-section__link {
        font-size: 0.7rem;
    }
    .contact-info__item:first-child::before,
    .contact-info__item:nth-child(2)::before,
    .contact-info__item:last-child::before {
        margin-right: 0.1rem;
        font-size: 1.1rem;
    }
    .contact-info__link {
        font-size: 0.95rem;
    }
}

@media screen and (max-width: 768px) {
    body {
        font-size: 14px;
    }
    .menu__item {
        margin-right: 1.5rem;
    }
    .menu__link {
        letter-spacing: 0.05rem;
        font-size: 1rem;
    }
    .contact-info__item:first-child::before,
    .contact-info__item:nth-child(2)::before,
    .contact-info__item:last-child::before {
        display: none;
    }
    .about-me-section__photo {
        width: 30%;
        height: 40%;
        overflow: visible;
        object-fit: contain;
        ;
    }
    .about-me-section__article {
        position: relative;
    }
    .about-me-section-links {
        position: absolute;
        left: -110%;
        top: 65%;
    }
    .about-me-section__item {
        width: 33%;
        height: 2.2rem;
    }
    .about-me-section__link {
        font-size: 0.6rem;
    }
    .experience-block__text_bigger {
        font-size: 1rem;
        color: #6b6a6a
    }
    .aside {
        width: 28%;
        margin-left: 5%;
        margin-top: -6rem;
    }
}

@media screen and (max-width: 576px) {
    .header {
        width: 100%;
        height: 10vh;
    }
    .menu-list {
        display: none;
    }
    .about-me-section {
        flex-direction: column;
    }
    .about-me-section__article {
        width: 100%;
        margin: 0;
    }
    .about-me-section__header {
        width: 100%;
        padding: 0;
        text-align: center;
    }
    .about-me-section__photo {
        width: 100%;
        height: auto;
        overflow: visible;
        object-fit: contain;
        ;
    }
    .about-me-section__text {
        width: 100%;
        padding: 0 1rem;
        box-sizing: border-box;
    }
    .about-me-section__text_bolder {
        width: 100%;
        padding: 0;
        text-align: center;
    }
    .contact-info__item:first-child::before,
    .contact-info__item:nth-child(2)::before,
    .contact-info__item:last-child::before {
        display: block;
    }
    .about-me-section__item {
        width: 25%;
        height: 2.2rem;
        margin: 1rem 0;
    }
    .about-me-section__link {
        font-size: 0.6rem;
    }
    .about-me-section-links {
        position: relative;
        display: flex;
        justify-content: space-evenly;
    }
    .contact-info {
        width: 100%;
        text-align: center;
    }
    .contact-info__content {
        width: 100%;
    }
    .contact-info__item {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: .5rem;
    }
    .wrapper {
        flex-direction: column;
    }
    .experience-section {
        width: 100%;
    }
    .aside {
        width: 100%;
        margin: 0;
    }
    .line,
    .line-article {
        width: 100%;
    }
    .aside__header {
        width: 100%;
        color: red;
        font-size: 1.2rem;
    }
}

@media print {
    * {
        margin: 0;
    }
    body {
        width: 100vw;
        height: 100vh;
        font-size: 14px;
    }
    .header,
    .about-me-section-links,
    .about-me-section__header,
    .about-me-section__text_bolder,
    .contact-info__header {
        display: none;
    }
    .about-me-section {
        width: 65%;
        height: 10%;
        margin: 0;
        position: relative;
    }
    .about-me-section__header_position-center {
        display: block;
        width: 49%;
        padding: 0;
    }
    .about-me-section__photo {
        width: 48%;
        height: 25vh;
        overflow: visible;
        object-fit: cover;
        order: -2;
    }
    .about-me-section__article {
        width: 48%;
        margin: 3% 0 0 0;
        padding: 0;
    }
    .contact-info {
        margin-top: -50%;
        margin-left: 51%;
    }
    .contact-info__item {
        margin-bottom: 0;
    }
    .about-me-section__article_print-position {
        position: absolute;
        top: 41%;
        left: 51%;
    }
    .experience-section {
        width: 65%;
        margin-top: 13rem;
    }
    .experience-section__header {
        margin-top: 0.3rem;
        padding: 0.3rem 0;
        box-sizing: border-box;
        border-top: 1px solid gray;
    }
    .experience-block__text a {
        display: none;
    }
    .experience-block__text span {
        display: inline;
    }
    .experience-block__text,
    .skill__text {
        line-height: initial;
    }
    .experience-block__header,
    .experience-block__years {
        margin-top: 0.5rem;
    }
    .experience-block__text_bigger {
        font-size: 1rem;
        margin: 0.3rem 0;
    }
    .line,
    .line-article {
        display: none;
    }
    .aside {
        position: absolute;
        top: 11rem;
        right: 0.5rem;
    }
    .aside__header {
        margin: 1rem 0;
    }
    .skill__header {
        margin-top: 0.5rem;
    }
    .skill__level {
        margin: 0.5rem 0;
    }
}